<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<title>Image Compress</title>
	</head>
	<body>
		<nav>
			<h4>Node MySQL</h4>
			<ul>
				<li><a href="/">Home</a></li>
				{{#if user }}
					<li><a href="/image_convert">Image Convert</a></li>
					<li><a href="/auth/logout">Logout</a></li>
				{{else}}
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Register</a></li>
				{{/if}}
			</ul>
		</nav>

		<div class="container mt-4 w-50">
			<div class="card">
				<div class="card-header">
					<h3 class="text-center">Compress Image Files</h3>
				</div>
				<div class="card-body">
					<form action="/" method="post" enctype="multipart/form-data">
						<input type="hidden" name="user" value="{{ user }}" />
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="file">Upload Files:</label>
									<input class="form-control" type="file" name="file" accept="image/*" style="padding: 3px;" multiple required>
								</div>
							</div>
						</div>
						<div class="row text-center">
							<div class="col-md-12">
								<div class="form-group">
									<button class="btn btn-primary">Compress File</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	</body>
</html>